<?php

use Bitrix\Main\Routing\RoutingConfigurator;
use Proklung\Symfony\Router\Utils\Loader;
use Proklung\Symfony\Router\Utils\OptionsManager;

// init kernel
require_once($_SERVER["DOCUMENT_ROOT"]."/bitrix/modules/main/include/prolog_before.php");

if (!\Bitrix\Main\Loader::includeModule('proklung.symfony.router')) {
    return function (RoutingConfigurator $routes) {};
}

$phpConfigFile = OptionsManager::option('php_router_config_path');

$routeConvertor = Loader::get($phpConfigFile);

// Файл с конфигом не найден.
if ($routeConvertor === null) {
    return function (RoutingConfigurator $routes) {};
}

return function (RoutingConfigurator $routes) use ($routeConvertor) {
    $routeConvertor->convertRoutes($routes);
};